<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions>
		<permission action="dispSvmarketAdminInsertPkg" target="manager" />
		<permission action="dispSvmarketAdminUpdatePkg" target="manager" />
		<permission action="dispSvmarketAdminInsertApp" target="manager" />
		<permission action="dispSvmarketAdminUpdateApp" target="manager" />
	</permissions>
	<actions>
		<action name="dispSvmarketIndex" type="view" index="true" />

		<!-- admin -->
		<action name="dispSvmarketAdminModList" type="view" admin_index="true" menu_name="page" menu_index="true" />
        <action name="dispSvmarketAdminInsertMod" type="view" />
        <action name="dispSvmarketAdminPkgListByModule" type="view" />
        <action name="dispSvmarketAdminInsertPkg" type="view" />
		<action name="dispSvmarketAdminUpdatePkg" type="view" />
        <action name="dispSvmarketAdminInsertApp" type="view" />
		<action name="dispSvmarketAdminUpdateApp" type="view" />
		<action name="dispSvmarketAdminUpdateVersion" type="view" />
		
        <action name="procSvmarketAdminInsertMod" type="controller" />
        <action name="procSvmarketAdminDeleteMod" type="controller" />
        <action name="procSvmarketAdminInsertPkg" type="controller" />
		<action name="procSvmarketAdminUpdatePkg" type="controller" />
        <action name="procSvmarketAdminInsertApp" type="controller" />
		<action name="procSvmarketAdminUpdateApp" type="controller" />
		<action name="procSvmarketAdminUpdateVersion" type="controller" />
		
        <action name="getSvmarketAdminDeleteMod" type="model" />
	</actions>
</module>
